<section id="main">
  <header>
    <pre class="logo">
                           _ _            _     _
               _ __  _   _| | | __ _ _ __(_) __| |
              | '_ \| | | | | |/ _` | '__| |/ _` |
              | | | | |_| | | | (_| | |  | | (_| |
              |_| |_|\__,_|_|_|\__, |_|  |_|\__,_|
                               |___/
    </pre>
  </header>

  <div class="box">
    <h2>Certificate Authority</h2>

    <p>There's a custom CA which is used for internal services, VPN access, etc. There's a Root CA and then an intermediate which is used for signing certificates. You'll find the public certificates and an Apple Configuration profile below:</p>

    <ul>
      <li><a href="/NullGridRootCert.pem">Root CA Cert</a></li>
      <li><a href="/NullGridIntermediateCert.pem">Intermediate CA Cert</a></li>
      <li><a href="/NullGridCertificateAuthority.mobileconfig">Apple Configuration Profile</a></li>
    </ul>
  </div>

  <footer>
    <p>Curious or have a problem? Email: <a href="mailto:ops@nullgrid.net">ops@nullgrid.net</a></p>
  </footer>
</section>
