<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>nullgrid.net</title>

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
